<html>
    <head>
        <meta charset="utf-8">
        <title>BrBa Wiki</title>
    </head>
    {% include "wiki/menu.html" %}

    <body>
            <table>
                <tr>
                    <th>
                    <h3>Breaking Bad Seasons</h3>
                    </th>
                    <th>
                    <h3>Better Call Saul Seasons</h3>
                    </th>
                    
                </tr>
                <tr>
                    <td id='brba-td'>
                        <ul>
                            {% for season in brba_seasons %}
                                <li><a href="/brba-seasons/{{ season }}/">Season {{season}}.</a></li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td id='bcs-td'>
                    <ul>
                        {% for season in bcs_seasons %}
                            <li><a href="/bcs-seasons/{{ season }}/">Season {{season}}.</a></li>
                        {% endfor %}
                    </ul>
                    </td>
                </tr>
            </table>
    </body>
</html>
