<html>
    <head>
        <meta charset="utf-8">
        <title>BrBa Wiki</title>
    </head>
    <form action="/characters/" method="get">
        <label for="search"> Search Bar: </label>
        <input id="character-search" type="text" name="search" value="">
        <input type="submit" value="Search">
    </form>

    <body>
        <h1>Breaking Bad Seasons</h1>
        <ul>
            {% for season in brba_seasons %}
                <li><a href="/brba-seasons/{{ season }}/">Season {{season}}.</a></li>
            {% endfor %}
        </ul>
        
        <h1>Better Call Saul Seasons</h1>
        <ul>
            {% for season in bcs_seasons %}
                <li><a href="/bcs-seasons/{{ season }}/">Season {{season}}.</a></li>
            {% endfor %}
        </ul>
    </body>
</html>
