<html>
    <head>
        <meta charset="utf-8">
        <title>BrBa Wiki</title>
    </head>
    <form action={% url 'character_search' %} method="POST"> 
        {% csrf_token %}
        <input  id='search_string' type='text' name='search_string' maxlength="50" required>
        <input type="submit" value="Search">
    </form>

    <body>
        <h1>Breaking Bad Seasons</h1>
        <ul>
            {% for season in brba_seasons %}
                <li><a href="/brba-seasons/{{ season }}/">Season {{season}}.</a></li>
            {% endfor %}
        </ul>
        
        <h1>Better Call Saul Seasons</h1>
        <ul>
            {% for season in bcs_seasons %}
                <li><a href="/bcs-seasons/{{ season }}/">Season {{season}}.</a></li>
            {% endfor %}
        </ul>
    </body>
</html>
